{# indique la déoendance au fichier template.twig #}
{% extends "template.twig" %}

{# bloque qui met à jour l'url de base en fonction du pc ou on se trouve #}
{% block baseUrl %}
<base href="{{baseUrl}}">
{% endblock %}

{# bloque qui affiche les infos sur la section active #}
{% block info %}
<div class="row">
    <p id="titre_home" class="col-12 text-center">
        Ici c'est la page d'info sur un film en particulier !
    </p>
</div>
{% endblock %}

{# bloque d'affichage principale qui affiche les films par genre #}
{% block affichage %}
<article class="row film_fiche m-0">
    {% for films in list %}
    <div class="div-jaquette col-12 col-md-3 col-lg-3 col-xl-3 d-flex p-0 align-items-center justify-content-center">
        <img class="fiche-jaquette" src="{{films.jaquette}}"d>
    </div>
    <div class="col-12 col-md-9 col-lg-9 col-xl-9 px-5 py-3 d-flex flex-column justify-content-between">
        <h2>{{films.titre}}</h2>
        <p>{{films.synopsis}}</p>
        <div class="d-flex justify-content-between">
            <p>genre<br>{{films.genre}}</p>
            <p>année<br>{{films.année}}</p>
            <p>réalisateur<br>{{films.realisateur}}</p>
        </div>
    </div>
    {% endfor %}
</article>
{# partie bande annonce #}
<div class="trailer-bg row m-0">
    <div class="col-12 d-flex justify-content-center p-3">
        <h3>Bande-annonce</h3>
    </div>
</div>
{# intégration de la bande annonce #}
<article class="trailer-bg row m-0">
    {% for film in list %}
    <div class="col-12 pb-4 d-flex justify-content-center">
        <iframe width="650" height="365" src="{{film.trailer}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    {% endfor %}
</article>
{% endblock %}