{% extends "template.twig" %}

{% block baseUrl %}
<base href="{{baseUrl}}">
{% endblock %}

{% block info %}
<div class="row">
    <p id="titre_home" class="col-12 text-center">
        La liste des films par genre
    </p>
</div>
{% endblock %}

{% block affichage %}
<header class="row">
    <div class="col-12 text-center m-4">
        <h2>
            Liste des films par genres
        </h2>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <p>Filtrer par titre : </p>
        <a class="px-3" href="genre/display">All</a>
        <a class="px-3" href="genre/display/action">Action</a>
        <a class="px-3" href="genre/display/animation">Animation</a>
        <a class="px-3" href="genre/display/aventure">Aventure</a>
        <a class="px-3" href="genre/display/comedie">Comédie</a>
        <a class="px-3" href="genre/display/drame">Drame</a>
        <a class="px-3" href="genre/display/policier">Policier</a>
        <a class="px-3" href="genre/display/science-fiction">Science Fiction</a>
        <a class="px-3" href="genre/display/thriler">Thriler</a>
    </div>
</header>
<article class="row">
    <div class="col-12 d-flex flex-wrap justify-content-center">
        {% for film in list %}
        <div class="film_stamp p-0 m-4 d-flex flex-column align-items-center">
            <a href="fiche/display/{{film.id}}"><img src="{{film.jaquette}}" width="187.5px" height="250px"></a>
            <a class="py-2" href="fiche/display/{{film.id}}">{{film.titre}}</a>
        </div>
        {% endfor %}
    </div>
</article>
{% endblock %}