{% extends "template.twig" %}

{% block baseUrl %}
<base href="{{baseUrl}}">
{% endblock %}

{% block info %}
<div class="row">
    <p id="titre_home" class="col-12 text-center">
        Retrouvez toutes les informations de vos films préférés!
        <br>
        De nouveaux films rajoutés tout les jours!
    </p>
</div>
{% endblock %}

{% block affichage %}
<div class="row">
    <div class="col-12 py-2 w-100">
        <h2>Les films à l'affiche</h2>
    </div>
</div>
<article class="row">
    <div class="col-12 d-flex flex-wrap justify-content-center">
        {% for film in list %}
        <div class="film_stamp p-0 m-1 m-md-3 m-lg-4 m-xl-4 d-flex flex-column align-items-center justify-content-between">
            <a href="fiche/display/{{film.id}}"><img class="home-jaquette" src="{{film.jaquette}}" alt="{{film.titre}}"></a>
            <a class="py-2 text-center" href="fiche/display/{{film.id}}">{{film.titre}}</a>
        </div>
        {% endfor %}
    </div>
</article>
{% endblock %}