{% extends "template.twig" %}

{% block baseUrl %}
<base href="{{baseUrl}}">
{% endblock %}

{% block info %}
<div class="row">
    <p id="titre_home" class="col-12 text-center">
        Tu peux voir la liste détaillé de tous nos films ici.
    </p>
</div>
{% endblock %}

{% block affichage %}
<article class="row">
    {# titre de la section #}
    <div class="col-12 text-center m-4">
        <h2>
            Liste des films
        </h2>
    </div>
    {# filtre par nom #}
    <div class="col-12 d-flex flex-wrap justify-content-center">
        <p class="m-0 p-2 filtre-type">Filtrer par titre : </p>
        <a class="px-3 py-2 filtre-select" href="list/display">All</a>
        <a class="px-3 py-2 filtre-select" href="list/display/A">A</a>
        <a class="px-3 py-2 filtre-select" href="list/display/C">C</a>
        <a class="px-3 py-2 filtre-select" href="list/display/F">F</a>
        <a class="px-3 py-2 filtre-select" href="list/display/G">G</a>
        <a class="px-3 py-2 filtre-select" href="list/display/I">I</a>
        <a class="px-3 py-2 filtre-select" href="list/display/L">L</a>
        <a class="px-3 py-2 filtre-select" href="list/display/P">P</a>
        <a class="px-3 py-2 filtre-select" href="list/display/S">S</a>
    </div>
</article>
{% for films in list %}
<article class="list-card row my-3">
    <div class="list-image col-lg-3 col-xl-3 d-flex p-0 align-items-center justify-content-center">
        <a href="fiche/display/{{films.id}}"><img src="{{films.jaquette}}" width="100%" height="330px"></a> 
    </div>
    <div class="col-lg-9 col-xl-9 px-5 py-3 d-flex flex-column justify-content-between">
        <a href="fiche/display/{{films.id}}">
            <h2>{{films.titre}}</h2>
        </a>
        <p>{{films.synopsis}}</p>
        <div class="d-flex justify-content-between">
            <p>genre<br>{{films.genre}}</p>
            <p>année<br>{{films.année}}</p>
            <p>réalisateur<br>{{films.realisator}}</p>
        </div>
    </div>
    </div>
</article>
{% endfor %}
{% endblock %}